/* Empty. Add your own CSS if you like */

.no-margin {
    margin: 0 0 0 0;
}

.no-padding {
    padding: 0 0 0 0;
}

.platform-android .bar .title {
    text-align: center;
}

.playerHeader {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: darkgray;
    text-align: center;
}

.playerName {
    color: darkgray;
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.playerScore {
    color: red;
    background-color: transparent;
    text-align: center;
    width: 100%;
    margin-top: -17px;
    margin-left: -30px;
    font-style: italic;
}

.playerTotal {
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: dimgray
}