<ion-view view-title="Score Board">

    <!-- NAV BAR : Title -->
    <ion-nav-title>Registering Score</ion-nav-title>

    <!-- NAV BAR : left Button -->
    <ion-nav-buttons side="left">

        <!-- BACK BUTTON -->
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="scrVM.goBack()">&nbsp;&nbsp;
        </button>

    </ion-nav-buttons>

    <!-- NAV BAR : Right Button -->
    <ion-nav-buttons side="right">

        <!-- RESET BUTTON -->
        <button class="button button-stable button-outline " ng-click="scrVM.resetScore()">
            &nbsp; Reset &nbsp;
        </button>

    </ion-nav-buttons>

    <!-- PLAYER FIXED HEADER -->
    <div class="item item-divider ion-content-fixed-header">
        <div class="row">

            <div class="col col-center col-10">
            </div>

            <div ng-repeat="item in scrVM.playerList" class="col" style="text-align:center">
                <img class="playerHeader" ng-src="img/{{item.avatar}}" width="60px" on-hold="scrVM.deletePlayer(item,$index)">
                <br>
                <input class="playerName" type="text" placeholder="{{item.name}}" ng-model="item.name">
            </div>

            <!-- Add NEW PLAYER 
            <div ng-if="scrVM.playerList.length < 3 " class="col col-center " ng-click="scrVM.addPlayer() " style="text-align:center ">
                <img class="playerHeader " ng-src="img/add_player.jpg " width="70px">
                <input class="playerName" type="text" placeholder="add player" style="background-color:transparent">
            </div>-->
        </div>
    </div>


    <ion-content class="ion-content-below-fixed-header">

        <!-- PLAYER SCORE -->
        <div class="item" ng-repeat="round in scrVM.nbRound" ng-show="round !== 0" style="padding-top:0px;padding-bottom:0px">
            <div class="row">
                <div class="col col-center col-10">
                    {{$index}}
                </div>

                <!-- player score -->
                <div ng-repeat="player in scrVM.playerList track by player.avatar" class="col" style="text-align:center">
                    <div align="center">
                        <!-- current score -->
                        <input class="playerScore" type="number" ng-model="scrVM.playerList[player.num].score[round].point" ng-change="scrVM.updateScore(round,player.num)" style="color:lightgrey">
                        <!-- total score -->
                        <div class="playerTotal">{{scrVM.playerList[player.num].score[round].total}}
                        </div>
                    </div>
                </div>
                <!-- empty or last player 
                    <div ng-if=" scrVM.playerList.length < 3 " class="col col-center" style="text-align:center ">
                        &nbsp;
                    </div>-->

            </div>
        </div>

        <!-- addround button -->
        <div style="margin:5px 20px 5px 20px " ng-if="scrVM.playerList.length>0">
            <button class="button button-outline button-block button-stable " style="color:black" ng-click="scrVM.addRound() ">
                add round
            </button>
        </div>

    </ion-content>
</ion-view>