<ion-view view-title="Easy Score Home">
    <ion-content class="padding" style="text-align:center">
        <div class="row row-center" style="height:200px">
            <div class="col">
                <h2>Welcome to <p> 
                    <b>Easy Score</b>
                </h2>
            </div>
        </div>
        <div class="row row-center" style="height:250px">
            <div class="col">
                <img src="img/molky2.jpg" width="70%">
            </div>
        </div>
        <div class="row row-center" style="height:100px">
            <div class="col" style="padding:0 20px 0 20px ">
                <button class="button button-outline button-block button-stable " ng-click="openNewScoreBoard()" href="#/score">
                    Open new Score Board
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>