<ion-view view-title="Score Board">
    <!-- CONFIG BUTTON (in Nav Bar)-->
    <ion-nav-buttons side="secondary">
        <div class="buttons">

            <!-- RESET BUTTON 
            <button class="button button-stable button-outline " ng-click="tabScrVM.reset()">
                &nbsp; Reset &nbsp;
            </button>-->
        </div>
    </ion-nav-buttons>

    <ion-content>

        <!-- SELECT TYPE OF GAME  -->
        <div class="item item-select" style="height:80px">
            <div class="row row-center">
                <div class="col col_50">
                    Type of Game :
                </div>
                <div class="col col_50">
                    <select ng-model="tabScrVM.selGame" ng-options="game.name for game in tabScrVM.gameList" style="font-size:17px">
                    </select>
                </div>
            </div>
        </div>

        <!-- SELECT NB PLAYER  -->
        <div class="item item-select" style="height:80px">
            <div class="col col_50">
                Nb of Players :
            </div>
            <div class="col col_50">
                <select ng-model="tabScrVM.nbPlayer" ng-options="num for num in tabScrVM.nbPlayerList" style="font-size:17px">
                </select>
            </div>
        </div>

        <!-- START SCORING BUTTON -->
        <div style="margin:5px 20px 5px 20px ">
            <button class="button button-outline button-block button-stable " style="color:black" ng-click="tabScrVM.startScoring() ">
                start scoring
            </button>
        </div>

    </ion-content>
</ion-view>